* {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  margin: 20px;
  position: relative;
  max-width: 400px;
  max-height: fit-content;
  text-align: left;
  /* color: white; */
}
.card__detail {
  max-width: 500px;
  max-height: 400px;
}

.image {
  width: 100%;
}
.image__icon--centre {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -23px;
}
.image__clip {
  width: 150px;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 12px;
  position: absolute;
  top: 12%;
  right: 10%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 10%;
}
.label--grey {
  background-color: #e2e2e2;
}
.label--red {
  background-color: red;
  color: white;
}

.container {
  padding: 4px 16px;
  box-shadow: 15px 15px 27px #e1e1e3;
}
.container__top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.container__bl {
  position: absolute;
  bottom: 15%;
  left: 1%;
  color: white;
}
.container__br {
  position: absolute;
  bottom: 15%;
  right: 15%;
  color: white;
}
.container__bc {
  position: absolute;
  bottom: 20%;
  right: 30%;
  color: white;
}
.container__bc--2 {
  position: absolute;
  bottom: 20%;
  right: 28%;
  color: white;
}
.container__vertical {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.container__vertical--2 {
  padding: 60px 16px 0px;
  box-shadow: 15px 15px 27px #e1e1e3;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}
.container__crop {
  max-width: 150px;
}

.border-line {
  border-left: solid green 5px;
}

.desc {
  margin-left: 20px;
}
.desc__title {
  font-size: 25px;
}
.desc__date {
  font-size: 12px;
  font: bold;
  color: green;
}
.desc__content {
  font-size: 15px;
}
.desc__note {
  font-size: 12px;
  color: lightgrey;
}
.desc__icon {
  font-size: 15px;
  color: white;
}

.button {
  font: bold;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #3838e7, #6565f8);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.button__br {
  position: absolute;
  bottom: 12%;
  right: 10%;
}
.button--2 {
  font: bold;
  color: white;
  color: blue;
  background-image: none;
  background-color: white;
  border: none;
  text-align: center;
}

.view-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, white);
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: gold;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

#place {
  background-image: linear-gradient(to top right, #7538e7, #641fe4);
  width: 120px;
  height: 95px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#picture {
  background-image: linear-gradient(to top right, #3875e7, #5783d4);
  width: 120px;
  height: 95px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
